@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, ol{
	list-style: disc;
	padding:revert;
}
.menuItem ol, .menuItem ul{
	list-style:none;
	margin: 0;
	padding:0;
}

@layer components {
	
    .break-inside {
        break-inside: avoid;
    }
	.menu-style{
		font-weight: bold;
		font-size: 14px;
		line-height: normal;
		color: #64016B;
	}
	.submenu-style{
		color:rgba(0, 0, 0, 0.6);
		font-weight: 500;
		font-size: 12px;
		line-height: 23px;
	}
	.headerMenu .menuItem > a::before {
		position: absolute;
		width: 0px;
		bottom: -7px;
		content: "";
		height: 3px;
		transition: all 0.3s ease-in-out 0s;
	}
	
	.megaMenu .inherit-menu{
		list-style-type: none;
		margin-left: 0.5rem;
	}
	.megaMenu .inherit-menu li a{
		/*font-weight: 600;*/
		line-height: 1rem;
		/*padding-bottom: 5px;*/
		color: rgba(0, 0, 0, 0.6);
	}
	.megaMenu .inherit-menu .inherit-menu li a{
		font-size: 0.9rem;
		font-weight: normal;
	}

	/*.megaMenu {
		width: 970px;
	}*/
	.megaMenu ul > li:last-of-type {
		
	}
	.subMenu {
		width: 220px;
	}
	.subMenuChild {
		transition: all 0.3s;
	}
	.subMenu li:hover > .subMenuChild {
		visibility:  visible;
	}
	.megaMenu .subMenuGrid > li:last-of-type {
		border-bottom: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	.megaMenu  ul li .inherit-menu li{
		padding: 0;
	}
	.headerMenu .menuItem:hover > a::before {
		width:100%;
	}
	.headerMenu .menuItem:hover > .megaMenu,
	.headerMenu .menuItem:hover > .subMenu {
		visibility: visible;
	}
	.top-bar{
		background: linear-gradient(270.01deg, #881191 54.43%, #F4B939 92.48%);
	}
	
	
	.cart-count-wrap{
		@apply relative
	}
	.cart-count-wrap span{
		@apply absolute bg-red-100 top-0 -right-2 rounded-full w-6 h-6 text-white text-xs text-center leading-6
	}
	.cart-footer{
		border-top:1px solid;
	}
	@keyframes slideDown {
	  from {
	    transform: translateY(-100%);
	  }
	  to {
	    transform: translateY(0);
	  }
	}
	@media (max-width:1025px) {
		.cart-count-wrap span{
			@apply w-4 h-4 text-white text-xs text-center leading-4
		}
		.container{
			max-width: 100%;
			padding: 0 15px;
		}
	}
	@media (min-width: 1025px) {
		.is-sticky{
			position: fixed;
			left:0;
			right:0;
			top:0;
			box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
			animation: slideDown 0.35s ease-out;
		}
		.is-sticky .stick-logo, .is-sticky .sticky-cart{
			display:block;
		}
		.hp-banner-img{
			max-height: 545px;
			overflow-y: hidden;
		}
	}
	@media (min-width: 1280px) {
		.subMenu {
			width: 240px;
		}
		/*.megaMenu {
			width: 1070px;
		}*/
		.megaMenu:after{
			background-color: rgba(0,0,0,0.5);
		}
	}
	.activeClass{
		text-decoration: none;
		font-weight: 600;
	}
	.activeClass:last-child{
		color: auto;
	}
	.tooltipWrap{
		position: relative;
	}
	.tooltipWrap .tooltipInfo{
		display: none;
	}
	.tooltipWrap:hover .tooltipInfo{
		display:block;
	}
	.tooltipInfo{
		  font-size:11px;
		  width: 100%;
		  background-color: #fff;
		  color: #000;
		  text-align: center;
		  border-radius: 6px;
		  padding: 5px 0;
		  position: absolute;
		  z-index: 1;
		  bottom: 99%;
		  left: -20px;
		  line-height: 18px;
		  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	}
	.tooltipInfo:before{
	    content:'';
	    display:block;
	    width:0;
	    height:0;
	    position:absolute;
	    
	    border-top: 16px solid transparent;
	    border-bottom: 0px solid transparent; 
	    border-right:9px solid #fff;
	    left: 22px;
	    bottom: -12px;
	    rotate: -90deg;
	}
	
}	

.customTabs table tr th, .customTabs table tr td{
	border-width: initial !important;
}

/*Slider with top arrow css begins*/
.slideWithArrow{
	position: relative;
}
.slideWithArrow .slick-slider .slick-prev, .slideWithArrow .slick-slider .slick-next {
	position: absolute;
	top: -30px;
	right: 40px;
	left: auto;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	border: 1px solid#ccc;
	border-radius: 100%;	
}
.slideWithArrow .slick-slider .slick-next {
	right: 0;
} 

.slideWithArrow .slick-slider .slick-prev::before, .slideWithArrow .slick-slider .slick-next::before {
	content: '';
	display: block;
	content: ''; 
	width: 7px;
	height: 7px;
	border-top: 2px solid #474747;
	border-left: 2px solid #474747;
	transform: rotate(-45deg);
	margin-left: 12px;
}

.slideWithArrow .slick-slider .slick-next::before {
	transform: rotate(135deg);
	margin-left: 10px;
}

.slick-slide:focus-visible {
	outline: none;
}
.lastvisited .slick-track{
	margin:0 10px 0 0;
}
.slideWithArrow.thumbnail-slider-wrap .slick-slide{
	margin: 0 10px;
}
/*Slider with top arrow css ends*/


